{% extends 'blog/base.html' %} 
{% load static %}
{% block title %} صفحه اصلی {% endblock %}
{% block main %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>وبلاگ عرفان</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for article in object_list %}
                <div class="post-preview">
                    <a href="{% url 'blog:detail' article.slug %}">
                    <h2 class="post-title">
                        {{article.title}}
                    </h2>
                    <h3 class="post-subtitle">
                        {{article.description|truncatewords:20}}
                    </h3>
                    </a>
                    <p class="post-meta">
                    نوشته شده توسط
                    <a href="#!">عرفان</a>
                    {{article.jpublish}}
                    </p>
                </div>
                <div>
                    {% for cat in article.category_published.all %}
                        <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
                    {% endfor %}
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}

        <!-- Pager-->
                {% if is_paginated %}
                    <div class="d-flex justify-content-end mb-4 gap-2">
                        
                        {% if page_obj.has_previous %}
                            <a class="btn btn-primary text-uppercase" href="{% url 'blog:home' page_obj.previous_page_number %}">پست های جدید &rAarr;</a>
                        {% endif %}
                        
                        {% if page_obj.has_next %}
                        <a class="btn btn-primary text-uppercase" href="{% url 'blog:home' page_obj.next_page_number %}">پست های قدیمی &lAarr;</a>
                        {% endif %}
                    
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
